.mat-dialog-image {
  margin: -24px -24px 24px -24px;
  background-color: #ff705a;
  text-align: center;

  svg {
    width: 100px;
    height: 100px;
    margin: 50px auto 30px auto;
  }

  .mat-dialog-title {
    text-align: center;
    padding: 0 0 10px;
  }
}

.mat-dialog-content {
  max-width: 300px;
}
