@import '../../variables';

.notifications-list {
  max-width: 780px;
  margin: 0 auto;

  mat-card {
    padding: 0;
  }

  &__card-header {
    font-size: 16px;
    font-weight: 500;
    color: map-get($app-primary, 300);
    margin: 30px 0 6px 0;
  }
}
