<section class="snapshot">
  <div
    class="snapshot__item"
    *ngFor="let rating of ratingSnapshot.slice().reverse(); let i = index">
    <span class="snapshot__item__rate">{{maxRate - i}}</span>
    <mat-icon class="snapshot__item__icon">star_rate</mat-icon>
    <mat-progress-bar
      color="accent"
      mode="determinate"
      class="snapshot__item__progress"
      [value]="rating / ratingSnapshotTotal * 100"></mat-progress-bar>
    <span class="snapshot__item__total">{{rating}}</span>
  </div>
</section>
