:host {
  display: inline-flex;
  align-items: center;
}

.background-star {
  opacity: 0.3;
}

.foreground-star {
  overflow: hidden;
  position: absolute;
}

.star {
  position: relative;
  height: 24px;
  margin-right: 5px;
}
