<h2 mat-dialog-title>You are about to buy file "{{dataProduct.title}}" for {{dataProduct.price.toString() |
  currencyRepux}}</h2>

<mat-dialog-content>
  <div class="mat-body-1">
    <p>
      You will be asked to confirm two transactions in MetaMask.
    </p>
    <ol>
      <li>First transaction only allows product contract to transfer REPUX tokens from your wallet.</li>
      <li>Second one creates purchase order.</li>
    </ol>
    <p>Please note:</p>
    <ul>
      <li>Buy transaction requires confirmation from the seller, until then you won't be able to download the file.</li>
      <li><strong>{{dataProduct.price.toString() | currencyRepux : ''}} REPUX</strong> tokens will be deducted from your wallet immediately, but they will be deposited on the smart
        contract until seller approves the transaction.
      </li>
      <li>Seller would have
        <strong><span [ngPlural]="dataProduct.daysToDeliver">
        <ng-template ngPluralCase="=0">{{dataProduct.daysToDeliver}} days</ng-template>
        <ng-template ngPluralCase="=1">{{dataProduct.daysToDeliver}} day</ng-template>
        <ng-template ngPluralCase="other">{{dataProduct.daysToDeliver}} days</ng-template>
      </span></strong>
        in order to confirm transaction, if not you can cancel the
        transaction and funds will be returned to your wallet.
      </li>
      <li>Once transaction is approved by the seller, you will be notified that your file is ready to download.</li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="false" type="button">Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
