<form [formGroup]="formGroup" (ngSubmit)="generate()">
  <h2 mat-dialog-title>Public - private keys generation</h2>
  <mat-dialog-content class="mat-typography">
    <div *ngIf="noKeyStore; else hasKeys">
      <p>Now we'll generate public/private key pair necessary for files encryption. This is a very important step and it
        will take a while.</p>
      <p>Keys will be stored in your browser secured with your personal password.</p>
    </div>
    <ng-template #hasKeys>
      <p>Since you've already stored keys in browser storage we need your existing personal password to re-generate public/private key pair.</p>
      <p><strong>Important note: Files that you have already uploaded using your existing key pair will not be accessible for buyers. <br />Please download your existing keys before moving forward</strong></p>
    </ng-template>
    <mat-form-field class="field-row">
      <input matInput type="password"
             placeholder="Personal password" required formControlName="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close type="button">Cancel</button>
    <button mat-flat-button color="primary">Generate</button>
  </mat-dialog-actions>
</form>
