<mat-table #table [dataSource]="dataSource">

  <!-- Buyer address Column -->
  <ng-container matColumnDef="buyerAddress">
    <mat-header-cell *matHeaderCellDef>Buyer address</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.buyerAddress}}</mat-cell>
  </ng-container>


  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>List price</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.price.toString() | currency : '' :
      currencyName :
      currencyFormat }}
    </mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ getOrderDate(element) | date : 'short' }}</mat-cell>
  </ng-container>

  <!-- Delivery deadline Column -->
  <ng-container matColumnDef="deliveryDeadline">
    <mat-header-cell *matHeaderCellDef>Delivery deadline</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.deliveryDeadline | date : 'short' }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="row">
        <app-marketplace-finalise-button [order]="element"
                                         [dataProduct]="dataProduct"
                                         (success)="onFinaliseSuccess($event)"></app-marketplace-finalise-button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
