<mat-form-field>
  <input matInput
         type="text"
         [placeholder]="placeholder"
         [required]="required"
         [pattern]="pattern"
         (input)="onInput($event)"
         (change)="onChange()"
         (keypress)="isNumber($event)"
         [formControl]="formControl">

  <mat-hint>Up to {{precision}} decimal places</mat-hint>

  <span matSuffix>{{currencyName}}</span>

  <mat-error *ngIf="formControl.hasError('required')">
    {{placeholder}} is <strong>required</strong>
  </mat-error>
</mat-form-field>
