<div *ngIf="wallet && userIsOwner && !blockchainOrder.finalised && !blockchainDataProduct?.disabled">
  <span *ngIf="pendingReencryption">Re-encrypting...</span>
  <app-eth-transaction-link
    *ngIf="pendingTransaction"
    [transactionHash]="pendingTransaction.transactionHash"
    label="Finalising..."></app-eth-transaction-link>

  <button mat-stroked-button
          color="primary"
          *ngIf="!pendingReencryption && !pendingTransaction"
          (click)="finalise()">Finalise
  </button>
</div>
