<div *ngIf="!dataProduct.disabled && wallet">
  <button mat-raised-button
          color="accent"
          *ngIf="!userIsOwner && !bought"
          (click)="buyDataProduct()">Buy
  </button>

  <div *ngIf="finalised || userIsOwner">
    <app-download-product-button [productAddress]="dataProductAddress"></app-download-product-button>
  </div>

  <span class="buy-button-replacement" *ngIf="bought && !finalised"
        matTooltip="You will be able to download this file after owner finalises the sale">
    Pending finalisation
  </span>
</div>
