@import '../../../variables.scss';

$gutter: 10px;

:host {
  line-height: 1.125;

  label {
    display: block;
    margin-bottom: 2 * $gutter;
  }

  a {
    margin-left: $gutter;
    display: inline-block;
    vertical-align: middle;
  }

  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: #999;
    padding: 4px 0 0 0;
  }

  .row:not(:last-child) {
    margin-bottom: $gutter;
  }

  app-file-input {
    display: block;
    margin-top: $gutter;
  }

  .field-name {
    color: map-get($mat-light-theme-foreground, secondary-text);
  }

  .invalid > .field-name {
    color: mat-color($app-warn);
  }
}
