<form [formGroup]="formGroup" (ngSubmit)="upload()">
  <h2 mat-dialog-title>Create data product</h2>
  <mat-dialog-content>
    <mat-form-field class="field-row">
      <input matInput
             placeholder="Title"
             required
             formControlName="title">
      <mat-error *ngIf="formGroup.controls['title'].hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['title'].hasError('minlength')">
        Title should contain <strong>at least {{ titleMinLength }} characters</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['title'].hasError('maxlength')">
        Title should contain <strong>at most {{ titleMaxLength }} characters</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-row">
        <textarea matInput
                  placeholder="Short description"
                  required
                  [formControl]="shortDescriptionFormControl"></textarea>
      <mat-error *ngIf="formGroup.controls['shortDescription'].hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['shortDescription'].hasError('minlength')">
        Title should contain <strong>at least {{ titleMinLength }} characters</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['shortDescription'].hasError('maxlength')">
        Title should contain <strong>at most {{ titleMaxLength }} characters</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-row">
        <textarea matInput
                  placeholder="Full description"
                  [formControl]="fullDescriptionFormControl"></textarea>
    </mat-form-field>

    <div class="field-row">
      <app-product-category-selector #categoryInput
                                     matInput
                                     required
                                     [formControl]="categoryFormControl"
                                     ngDefaultControl></app-product-category-selector>
    </div>

    <mat-form-field class="field-row">
      <input matInput
             type="text"
             placeholder="Price"
             required
             [formControl]="priceFormControl">
      <span matSuffix="">{{ currencyName }}</span>
      <mat-error *ngIf="formGroup.controls['price'].hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['price'].hasError('min')">
        Price should be <strong>positive number</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['price'].hasError('pattern')">
        Price should be number containing at most {{ repuxPrecision }} decimal places.
      </mat-error>
    </mat-form-field>

    <div class="field-row">
      <app-file-input #fileInput
                      placeholder="File"
                      required
                      [formControl]="fileFormControl"
                      ngDefaultControl></app-file-input>
    </div>

    <mat-form-field class="field-row">
      <mat-select placeholder="Days for deliver" required="true" [formControl]="daysForDeliverFormControl">
        <mat-option *ngFor="let day of daysForDeliverOptions" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button>Create and upload</button>
  </mat-dialog-actions>
</form>
