<div *ngIf="wallet$ | async as wallet" class="wallet-info">
  <div class="wallet-info__item">
    <button
      mat-flat-button
      color="accent"
      (click)="goToPromotionPage()">Promotion</button>
  </div>
  <div class="wallet-info__item">
    <button
      mat-stroked-button
      color="primary"
      (click)="openDemoTokensIssueDialog()">Get FREE demo tokens</button>
  </div>
  <div class="wallet-info__item">
    <span class="wallet-info__label">Current balance</span>
    <span class="wallet-info__value" *ngIf="balance$ | async as balance">{{ balance | currencyRepux }}</span>
  </div>
  <div class="wallet-info__item">
    <span class="wallet-info__label">Wallet address</span>
    <span class="wallet-info__value"
          matTooltip="{{ wallet.address }}">{{ wallet.address | slice:0:10 }}...</span>
  </div>
</div>
