@import '../../../variables.scss';

form {
  max-width: 940px;
}

.field-row {
  display: block;
}

.mat-subheading-2 {
  margin: 32px 0 10px 0;
}

.caption {
  padding: 24px 16px;
  background-color: #eee;
}


app-marketplace-eula-selector {
  display: block;
  margin: 10px 0 20px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -20px;
  padding: 0;

  @media screen and (max-width: 960px) {
    display: block;

    .col {
      width: auto;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 50%;
}
