@import '../../../theme.scss';

:host {
  z-index: 999;
  position: fixed;
  left: 40px;
  bottom: 40px;
}

mat-dialog-content {
  padding: 0;
  margin: -24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-width: calc(100vw - 115px);
  width: 440px;
  border-radius: 2px;
  background: #fff;
}

.mat-drawer-container {
  overflow: scroll;
}

.spacer {
  flex: 1 1 auto;
}

.item {
  border-bottom: 1px solid #e0e0e0;
  margin: 0 10px;
  padding: 10px 0;

  &:last-child {
    border-bottom: none;
  }

  &__status {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;

  &.without-margin {
    margin: 0;
  }
}

button {
  text-transform: uppercase;
}

.mat-progress-spinner {
  display: inline-block;
}

.mat-toolbar {
  min-height: 64px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.status {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-title {
  margin-left: 15px;
}

.open-button {
  margin: -25px;
  width: 60px;
  height: 60px;
}

.tasks-list {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.no-tasks {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: mat-color($mat-light-theme-foreground, secondary-text);
}
