<h2 mat-dialog-title>Transaction</h2>

<mat-dialog-content>
  <div *ngIf="!error" class="mat-body-1">
    Please confirm transaction in MetaMask extension.
  </div>
  <div *ngIf="error" class="mat-body-1">
    <div class="error">{{ error }}</div>
    <div>You can retry by clicking button below.</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button" *ngIf="error">Cancel</button>
  <button mat-button (click)="callTransaction()" *ngIf="error">Retry</button>
</mat-dialog-actions>
