<mat-form-field (click)="openFileBrowser()">
  <input #fileInput
         type="file"
         [multiple]="multiple"
         [disabled]="formControl.disabled"
         (change)="onChange($event)">

  <input matInput
         [placeholder]="placeholder"
         [required]="required"
         [formControl]="formControl"
         [appMaxFileSize]="maxFileSize"
         readonly [value]="fileNames">

  <mat-icon>attachment</mat-icon>

  <mat-error *ngIf="formControl.hasError('required')">
    {{ placeholder }} is <strong>required</strong>
  </mat-error>

  <mat-error *ngIf="formControl.hasError('maxFileSizeExceeded')">
    Max file size exceeded ({{ maxFileSize | fileSize }})
  </mat-error>

  <mat-hint>
    <span *ngIf="hint">{{ hint }}. </span>
    <span *ngIf="maxFileSize">Max file size is {{ maxFileSize | fileSize }}.</span>
  </mat-hint>
</mat-form-field>
