input[type="file"] {
  display: none;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  color: #999;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mat-form-field:not(.mat-form-field-disabled), input:not([disabled]) {
  cursor: pointer;
}
