input[type="file"] {
  display: none;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-left: 10px;
}

.mat-form-field:not(.mat-form-field-disabled), input:not([disabled]) {
  cursor: pointer;
}
