<div *ngIf="displayPendingOrders && blockchainOrders.length" class="list-orders">
  <table mat-table #table [dataSource]="blockchainOrders">

    <!-- Buyer address Column -->
    <ng-container matColumnDef="buyerAddress">
      <th mat-header-cell *matHeaderCellDef>Buyer address</th>
      <td mat-cell *matCellDef="let order">{{order.buyerAddress}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let order">
        {{ order.deliveryDeadline | orderDate : dataProduct.daysToDeliver | date : 'short' }}
      </td>
    </ng-container>

    <!-- Delivery deadline Column -->
    <ng-container matColumnDef="deliveryDeadline">
      <th mat-header-cell *matHeaderCellDef>Delivery time</th>
      <td mat-cell *matCellDef="let order">{{ order.deliveryDeadline | date : 'short' }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <div class="row">
          <app-marketplace-finalise-button [order]="order"
                                           [blockchainDataProduct]="blockchainDataProduct"
                                           [dataProduct]="dataProduct"></app-marketplace-finalise-button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
