@import '~@angular/material/theming';

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;

  .mat-nav-list {
    margin: 48px 0 24px 0;
  }

  .active-route {

  }

  &__menu-item {
    padding: 0 32px;
  }
}

.logotype {
  &__text {
    margin: 0 0 0 16px;
  }
}

.mat-toolbar {
  background-color: #fff;
  border-bottom: solid 1px #e4e4e4;
}

.mat-drawer {
  background-color: #fafafa;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-view {
  padding: 20px;
}

.sell-data-btn {
  .mat-icon {
    margin: -2px 2px 0 -2px;
  }
}
