@import '../variables';

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;

  .mat-nav-list {
    margin: 48px 0 24px 0;
  }

  .active-route {
    color: map-get($app-primary, 300);
    background: linear-gradient(45deg, map-get($app-primary, 50), transparent);
  }

  &__menu-item {
    padding: 0 32px;
  }
}

.logotype {
  &__text {
    margin: 0 0 0 16px;
  }
}

.mat-toolbar {
  background-color: #fff;
  border-bottom: solid 1px #e4e4e4;
}

.mat-drawer {
  background-color: #fafafa;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-view {
  padding: 20px;
}

.sell-data-btn {
  margin: 0 8px 0 4px;
}
