@import '../variables';

.navigation {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  margin: 0 0 0 48px;
  padding: 19px 0 0 0;
  align-items: center;

  &__item {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    text-decoration: none;
    padding: 0 24px;
    height: 100%;

    &.active {
      color: map-get($app-primary, 300);
      background: linear-gradient(0deg, map-get($app-primary, 50), transparent);
    }
  }
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;

  .mat-nav-list {
    margin: 48px 0 24px 0;
  }

  .active-route {
    color: map-get($app-primary, 300);
    background: linear-gradient(45deg, map-get($app-primary, 50), transparent);
  }

  &__menu-item {
    padding: 0 32px;
  }
}

.logotype {
  display: flex;

  &__text {
    margin: 0 0 0 12px;
    text-transform: uppercase;
  }
}

.mat-toolbar {
  background-color: #fff;
  border-bottom: solid 1px #e4e4e4;
}

.mat-drawer {
  background-color: #fafafa;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-view {
  padding: 20px;
  overflow: auto;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.sell-data-btn {
  margin: 0 8px 0 4px;
}
