<div *ngIf="isUnpublished">
  <button mat-stroked-button
          color="accent"
          class="remove-button"
          *ngIf="!currentPendingTransaction"
          (click)="remove()">Remove
  </button>

  <button mat-stroked-button
          color="primary"
          *ngIf="!currentPendingTransaction"
          (click)="publish()">Publish
  </button>

  <app-eth-transaction-link
    *ngIf="pendingTransaction"
    [transactionHash]="pendingTransaction.transactionHash"
    label="Publishing..."></app-eth-transaction-link>
</div>
