<div *ngIf="!loading" class="action-buttons">
  <app-marketplace-buy-product-button
    *ngIf="availableActions.includes(actionButtonType.Buy)"
    [dataProduct]="dataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-buy-product-button>

  <app-marketplace-cancel-purchase-button
    *ngIf="availableActions.includes(actionButtonType.CancelPurchase)"
    [dataProduct]="dataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-cancel-purchase-button>

  <app-marketplace-rate-order-button
    [dataProduct]="dataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-rate-order-button>

  <app-marketplace-publish-button
    *ngIf="availableActions.includes(actionButtonType.Publish)"
    [dataProduct]="dataProduct"></app-marketplace-publish-button>

  <app-marketplace-unpublish-button
    *ngIf="availableActions.includes(actionButtonType.Unpublish)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="dataProduct.blockchainState"></app-marketplace-unpublish-button>

  <app-marketplace-withdraw-button
    *ngIf="availableActions.includes(actionButtonType.Withdraw)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"></app-marketplace-withdraw-button>
</div>
