<div *ngIf="blockchainDataFetched" class="action-buttons">
  <button *ngIf="droppedTransaction"
          color="warn"
          mat-icon-button class="dropped-transaction"
          (click)="removeDroppedTransactions()"
          matTooltip="At least one of your transactions on this product is dropped and we cannot track it now. It may be related to the increase of the gas price in MetaMask extension. You can remove this error by clicking on it.">
    <mat-icon class="dropped-transaction__normal">error_outline</mat-icon>
    <mat-icon class="dropped-transaction__hover">close</mat-icon>
  </button>

  <app-marketplace-buy-product-button
    *ngIf="availableActions.includes(actionButtonType.Buy)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-buy-product-button>

  <app-marketplace-cancel-purchase-button
    *ngIf="availableActions.includes(actionButtonType.CancelPurchase)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-cancel-purchase-button>

  <app-marketplace-rate-order-button
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"
    [blockchainDataProductOrder]="blockchainDataProductOrder"></app-marketplace-rate-order-button>

  <app-marketplace-publish-button
    *ngIf="availableActions.includes(actionButtonType.Publish)"
    [dataProduct]="dataProduct"></app-marketplace-publish-button>

  <app-marketplace-unpublish-button
    *ngIf="availableActions.includes(actionButtonType.Unpublish)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"></app-marketplace-unpublish-button>

  <app-marketplace-withdraw-button
    *ngIf="availableActions.includes(actionButtonType.Withdraw)"
    [dataProduct]="dataProduct"
    [blockchainDataProduct]="blockchainDataProduct"></app-marketplace-withdraw-button>
</div>

<mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
