@import '../../../theme';

:host {
  position: relative;
  min-height: 36px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.dropped-transaction {
  $root: &;

  &__hover {
    display: none;
  }

  &:hover {
    #{$root}__hover {
      display: inline;
    }

    #{$root}__normal {
      display: none;
    }
  }
}

.mat-spinner {
  float: right;
}
