<form [formGroup]="formGroup" (ngSubmit)="authorize()">
  <h2 mat-dialog-title>Public - private keys access</h2>
  <mat-dialog-content class="mat-typography">
    <p>Please provide a password for keys stored in your browser</p>
    <mat-form-field class="field-row">
      <input matInput type="password"
             placeholder="Personal password" required formControlName="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-stroked-button color="primary">Decode keys</button>
  </mat-dialog-actions>
</form>
