@import '../../../variables.scss';

.mat-form-field {
  width: 100%;
}

:host.floating span {
  opacity: 1;
}

.mat-checkbox {
  border-bottom: 1px solid map-get($mat-light-theme-foreground, divider);
}
