<div *ngIf="wallet && boughtProducts">
  <button mat-raised-button
          color="accent"
          *ngIf="!userIsOwner && !bought"
          (click)="buyDataProduct()">Buy</button>

  <div *ngIf="approved || userIsOwner">
    <app-download-product-button [productAddress]="productAddress"></app-download-product-button>
  </div>

  <span class="buy-button-replacement" *ngIf="bought && !approved"
        matTooltip="You will be able to download this file after owner accepts the sale">
    Pending approval
  </span>
</div>
