<mat-card
  *ngIf="metaMaskStatusMessage"
  class="dashboard-banner">{{ metaMaskStatusMessage }}
</mat-card>

<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngIf="wallet" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card mat-primary">
        <mat-card-header>
          <mat-card-title>My wallet</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="dashboard-balance">
            <div class="dashboard-balance__value">{{ wallet.balance | currency : '' : currencyName : currencyFormat }}
            </div>
            <div class="dashboard-balance__label">Current balance</div>
          </div>
          <div class="dashboard-account">
            <div class="dashboard-account__value">{{ wallet.address }}</div>
            <div class="dashboard-account__label">Wallet address</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Card 2</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Card 3</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
