:host {
  z-index: 2;
}

.banner {
  background-color: #daefea;
  padding: 12px 24px;
  border-bottom: solid 1px #9ad6c8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    margin-left: 20px;
    min-width: 110px;
    line-height: 28px;
  }
}
