<div class="list-search">
  <input
    class="list-search__input"
    placeholder="Search for a data"
    [(ngModel)]="filterValues.search"
    (ngModelChange)="onTypeAhead($event)">
  <mat-icon class="list-search__icon" *ngIf="!filterValues.search.length">search</mat-icon>
  <mat-icon class="list-search__icon list-search__icon_button" *ngIf="filterValues.search.length"
            (click)="onTypeAhead('')">clear
  </mat-icon>
  <div class="list-search__filter-icon">
    <button mat-icon-button (click)="toggleFilter()">
      <mat-icon>tune</mat-icon>
    </button>
  </div>
</div>

<app-marketplace-list-filter
  [categoryOptions]="categoriesList"
  [sortingOptions]="sortingOptionsList"
  (categoryChange)="onCategoryChange($event)"
  (sortingOptionChange)="onSortingOptionChange($event)"
  [(isOpened)]="filterIsOpened"></app-marketplace-list-filter>

<div *ngIf="(products$ | async) as products; else showSpinner" class="mat-typography">
  <section *ngIf="products.hits.length; else showEmpty">
    <h3 class="list-header">Latest files</h3>

    <div class="card-list">
      <mat-card
        *ngFor="let product of products.hits"
        class="card-item"
        [routerLink]="product.address ? ['details', product.address] : null"
        [queryParams]="queryParams">
        <mat-card-title>
          <a [href]="etherscanUrl + '/address/' + product.ownerAddress"
             (click)="$event.stopPropagation();"
             target="_blank">
            <app-blocky-identicon
              class="card-item__identicon"
              [seed]="product.ownerAddress"
              matTooltip="Click to view Seller address on Etherscan: {{product.ownerAddress}}"></app-blocky-identicon>
          </a>
          <h1>{{ product.title }}</h1>
        </mat-card-title>

        <p class="card-item__file-info mat-caption">
          <mat-icon>attach_file</mat-icon>
          {{ product.name }} | {{ product.size | fileSize }} |
          <mat-icon>today</mat-icon>
          {{ product.creationDate | date }} |
          <a href=""
             (click)="$event.stopPropagation(); $event.preventDefault(); downloadEula(product.eula)">
            {{ product.eula.type | eulaType }}&nbsp;EULA</a>
        </p>

        <mat-card-subtitle>
          {{ product.shortDescription | slice:0:200 }}{{ product.shortDescription.length > 200 ? '...' : '' }}
        </mat-card-subtitle>

        <mat-card-content>
          <mat-chip-list>
            <mat-chip disabled *ngFor="let category of product.category">{{ category }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <mat-card-actions>
          <div class="price">
            <span class="price__prefix">REPUX</span>
            <span class="price__value">{{ product.price.toString() | currencyRepux : '' : currencyPrecision }}</span>
          </div>
          <div class="card-item__spacer"></div>
          <app-marketplace-action-buttons
            (click)="$event.stopPropagation()"
            [availableActions]="availableActions"
            [dataProduct]="product"></app-marketplace-action-buttons>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-paginator
      (page)="pageChanged($event)"
      [pageIndex]="from / size"
      [length]="products.total"
      [(pageSize)]="size"
      [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </section>
</div>

<ng-template #showSpinner>
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #showEmpty>
  <figure class="empty-list">
    <mat-icon class="empty-list__icon">file_copy</mat-icon>
    <figcaption class="empty-list__text">Sorry, there is no data</figcaption>
  </figure>
</ng-template>
