@import '../../variables';

.days-to-deliver {
  max-width: 800px;
  margin: 0 auto 20px;
  background: #fff2a9;
  box-shadow: none !important;
  border: 1px solid #f3df72;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    display: block;

    app-marketplace-action-buttons {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

.product-details {
  max-width: 800px;
  margin: 0 auto;

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #5f6368;
    margin: 0 0 16px 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px 0;

    h1 {
      margin: 0;
    }
  }

  &__price-buy {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  &__description {
    margin: 0 0 32px 0;
  }

  &__detailed-description {
    margin: 0 0 32px 0;

    p {
      white-space: pre;
    }
  }

  &__rating {
    margin: 0 0 32px 0;
  }

  &__rules {
    margin: 0 0 32px 0;
  }

  &__file-info {
    color: #7e7e7e;
    margin: 0 0 32px 0;

    .mat-icon {
      vertical-align: middle;

      &:first-child {
        margin: -2px 0 0 -4px;
      }
    }
  }

  &__actions {
    margin: 20px 0 40px 0;
  }
}

.price {
  font-weight: 700;
  align-self: center;

  &__prefix {
    font-size: 12px;
    color: #acacac;
    margin: 0 4px 0 0;
  }

  &__value {
    font-size: 24px;
    color: map-get($app-primary, 300)
  }
}

.sample-files {
  margin: 0 0 32px 0;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }

  &__list-item {
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: map-get($mat-light-theme-background, hover);
    }
  }

  .mat-icon {
    color: #999;
  }

  .mat-list-item .mat-list-item-content {
    padding: 0;
  }
}

section {
  h2 {
    a {
      visibility: hidden;
      font-size: 0.8rem;
      vertical-align: middle;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      a {
        visibility: visible;
      }
    }
  }
}
