<div *ngIf="(product$ | async) as product" class="mat-typography">
  <h1>{{ product.title }}</h1>
  <mat-hint>{{ product.name }}</mat-hint>
  <br/><br/>

  <p *ngIf="product.fullDescription; else showShortDescription">
    {{ product.fullDescription }}
  </p>
  <ng-template #showShortDescription>
    <p>
      {{ product.shortDescription }}
    </p>
  </ng-template>

  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4 mat-line>{{ product.price.toString() | currencyRepux }}</h4>
      <mat-hint mat-line>Price</mat-hint>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4 mat-line>{{ product.daysToDeliver }} days</h4>
      <mat-hint mat-line>Delivery time</mat-hint>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4 mat-line>{{ product.size | fileSize }}</h4>
      <mat-hint mat-line>File size</mat-hint>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h4 mat-line>
        <a
          (click)="downloadEula($event, product.eula)"
          matTooltip="Download EULA content"
          matTooltipPosition="right">
          <app-marketplace-eula [eulaType]="product.eula.type"></app-marketplace-eula>
        </a>
      </h4>
      <mat-hint mat-line>End User License Agreement</mat-hint>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="(owner$ | async) as owner">
      <h4 mat-line>
        <app-marketplace-rating
          [rating]="owner.sellerRating"></app-marketplace-rating>
      </h4>
      <mat-hint mat-line>User rating</mat-hint>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <br/><br/>

  <mat-chip-list>
    <mat-chip *ngFor="let category of product.category" disabled>{{ category }}</mat-chip>
  </mat-chip-list>

  <br/><br/>

  <div class="row">
    <app-marketplace-action-buttons
      [dataProduct]="product"
      [availableActions]="[ 'buy', 'rate' ]"></app-marketplace-action-buttons>
  </div>

  <div *ngIf="product.sampleFile?.length > 0">
    <h3 class="section-header">Sample files</h3>

    <mat-list>
      <mat-divider></mat-divider>

      <mat-list-item *ngFor="let file of product.sampleFile;">
        <div mat-line>
          <div class="sample-file-line">
            {{ file.fileName }}
            <button
              mat-button
              color="accent"
              (click)="downloadSampleFile($event, file)">
              <mat-icon>save_alt</mat-icon>
              Download sample
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <br/><br/>

  <a routerLink="../../">Back to list</a>
</div>
