<div *ngIf="(product$ | async) as product">
  <mat-card class="days-to-deliver" *ngIf="userIsBuyer && !blockchainDataProductOrder.finalised">
    <div class="days-to-deliver__message">
      Your transaction is awaiting confirmation from the Seller,
      <span *ngIf="daysToDeliverLeft > 0">if not confirmed within the next
        <strong [ngPlural]="daysToDeliverLeft">
          <ng-template ngPluralCase="=0">{{daysToDeliverLeft}} days</ng-template>
          <ng-template ngPluralCase="=1">{{daysToDeliverLeft}} day</ng-template>
          <ng-template ngPluralCase="other">{{daysToDeliverLeft}} days</ng-template>
        </strong>,
      </span>you can cancel transaction and your funds will be returned to your wallet.
    </div>

    <app-marketplace-action-buttons
      *ngIf="daysToDeliverLeft <= 0"
      [dataProduct]="product"
      [blockchainDataProductOrder]="blockchainDataProductOrder"
      [availableActions]="[ actionButtonType.CancelPurchase ]"></app-marketplace-action-buttons>
  </mat-card>

  <mat-card class="product-details mat-typography">
    <section class="product-details__title">
      <h1>{{ product.title }}</h1>
      <app-rating-stars
        [rating]="product.orders | orderRating"></app-rating-stars>
    </section>

    <section class="product-details__file-info">
      <mat-icon>attach_file</mat-icon>
      {{ product.name }} | {{ product.size | fileSize }} |
      <mat-icon>today</mat-icon>
      {{ product.creationDate | date }} |
      <a href=""
         (click)="$event.stopPropagation(); $event.preventDefault(); downloadEula(product.eula)">
        {{product.eula.type | eulaType}}&nbsp;EULA</a>
    </section>

    <section class="product-details__price-buy">
      <div class="price">
        <span class="price__prefix">REPUX</span>
        <span class="price__value">{{ product.price.toString() | currencyRepux : '' }}</span>
      </div>
      <app-marketplace-action-buttons
        [dataProduct]="product"
        [availableActions]="availableActions"></app-marketplace-action-buttons>
    </section>

    <section class="product-details__summary">
      <a
        *ngIf="sellerRating.toNumber() > 0"
        (click)="scrollIntoView('seller-rating')"
         class="product-details__summary-item product-details__summary-item_link">
        <span class="product-details__summary-number">
          {{ sellerRating.toNumber() | percent }}
        </span>
        <span class="product-details__summary-label">
         Positive feedback
        </span>
      </a>

      <div class="product-details__summary-item" *ngIf="sellerRating.toNumber() == 0">
        <span class="product-details__summary-label">
         No feedback yet
        </span>
      </div>

      <a *ngIf="product.sampleFile?.length > 0"
        (click)="scrollIntoView('sample-files')"
        class="product-details__summary-item product-details__summary-item_link">
        <span class="product-details__summary-number">
          {{ product.sampleFile.length }}
        </span>
        <span class="product-details__summary-label" [ngPlural]="product.sampleFile.length">
         Sample
          <ng-template ngPluralCase="=1">file</ng-template>
          <ng-template ngPluralCase="other">files</ng-template>
        </span>
      </a>

      <div class="product-details__summary-item" *ngIf="!product.sampleFile">
        <span class="product-details__summary-label">
         No sample files provided
        </span>
      </div>

      <div (click)="scrollIntoView('rules')"
           class="product-details__summary-item product-details__summary-item_link">
        <span class="product-details__summary-number">
          {{ product.daysToDeliver }}
        </span>
        <span class="product-details__summary-label" [ngPlural]="product.daysToDeliver">
          <ng-template ngPluralCase="=0">Days</ng-template>
          <ng-template ngPluralCase="=1">Day</ng-template>
          <ng-template ngPluralCase="other">Days</ng-template>
          to deliver
        </span>
      </div>
      <div class="product-details__summary-item">
        <span class="product-details__summary-number">
          {{ product.orders.length }}
        </span>
        <span class="product-details__summary-label" [ngPlural]="product.orders.length">
          <ng-template ngPluralCase="=0">Times</ng-template>
          <ng-template ngPluralCase="=1">Time</ng-template>
          <ng-template ngPluralCase="other">Times</ng-template>
          purchased
        </span>
      </div>
    </section>

    <section class="product-details__description">
      <p>{{ product.shortDescription }}</p>
      <mat-chip-list>
        <mat-chip *ngFor="let category of product.category" disabled>{{ category }}</mat-chip>
      </mat-chip-list>
    </section>

    <section *ngIf="product.fullDescription" class="product-details__detailed-description">
      <h2>Detailed description
        <a href="" (click)="$event.preventDefault();scrollToTop()">Back to top</a>
      </h2>
      <p>{{ product.fullDescription }}</p>
    </section>

    <section *ngIf="product.sampleFile?.length > 0" class="sample-files" id="sample-files">
      <h2>Sample files
        <a href="" (click)="$event.preventDefault();scrollToTop()">Back to top</a>
      </h2>
      <ul class="sample-files__list">
        <li
          matRipple
          *ngFor="let file of product.sampleFile;"
          class="sample-files__list-item"
          (click)="downloadSampleFile($event, file)">
          {{ file.fileName }}
          <mat-icon>get_app</mat-icon>
        </li>
      </ul>
    </section>

    <section class="product-details__rules" id="rules">
      <h2>Rules
        <a href="" (click)="$event.preventDefault();scrollToTop()">Back to top</a>
      </h2>
      <p>
        Each buy transaction needs to be confirmed by the seller. Seller would have
        <strong [ngPlural]="product.daysToDeliver">
          <ng-template ngPluralCase="=0">{{product.daysToDeliver}} days</ng-template>
          <ng-template ngPluralCase="=1">{{product.daysToDeliver}} day</ng-template>
          <ng-template ngPluralCase="other">{{product.daysToDeliver}} days</ng-template>
        </strong>
        in order to confirm transaction, if not buyer can cancel the transaction and funds will be returned.
      </p>
    </section>

    <section class="product-details__rating" id="seller-rating">
      <h2>Seller rating
        <a href="" (click)="$event.preventDefault();scrollToTop()">Back to top</a>
      </h2>
      <app-marketplace-rating
        [rating]="sellerRating"
        [orders]="product.orders"></app-marketplace-rating>
    </section>


    <a routerLink="../../">Back to list</a>
  </mat-card>
</div>
