@import '../../variables';

.card-list {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  margin: 0 -1rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__file-info {
    padding: 8px 0;
    margin: 0 0 16px 0;
    color: #7e7e7e;
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;

    .mat-icon {
      vertical-align: bottom;
      margin: 0 0 0 -4px;
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }
}

.price {
  font-weight: 700;
  align-self: center;

  &__prefix {
    font-size: 12px;
    color: #acacac;
    margin: 0 4px 0 0;
  }

  &__value {
    font-size: 20px;
    color: map-get($app-primary, 300)
  }
}

.mat-card-content {
  margin: 0 0 32px 0;
}

.mat-card-actions {
  display: flex;
  margin: auto 0 -8px 0 !important;
}

.mat-paginator {
  margin: 0 0 80px 0;
  background: transparent;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-search {
  position: relative;
  border-radius: 2px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  &__accent-area {
    padding: 9px 16px 9px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #e4e4e4;
  }

  &__input {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
    padding: 16px;

    &:focus {
      outline: none;
    }
  }

  &__category-selector {
    margin-right: 10px;
  }

  @media screen and (max-width: 700px) {
    &__icon {
      display: none;
    }

    &__category-selector {
      max-width: 140px;
    }
  }
}

.list-header {
  font-size: 16px;
  font-weight: 500;
  color: map-get($app-primary, 300);
  margin: 30px 0 6px 0;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;

  &__icon {
    color: #b4b4b4;
    font-size: 72px;
    width: 72px;
    height: 72px;
    margin: 0 0 24px 0;
  }

  &__text {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 500;
  }
}
