@import 'variables.scss';

@include angular-material-theme($theme);

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

body {
  margin: 0;
}


.mat-dialog-actions {
  justify-content: flex-end;

  button {
    text-transform: uppercase;
  }
}
