@import 'theme.scss';

@include angular-material-theme($theme);

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
  .mat-flat-button,
  .mat-stroked-button {
    margin: 0 0 0 8px;
  }
}

.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button {
  text-transform: uppercase;
  border-radius: 4px;
}

.mat-flat-button.mat-primary {
  background: linear-gradient(45deg, #2DBD9D 0%, #0fda4d 100%);

  &[disabled] {
    background: none;
    background-color: rgba(0, 0, 0, .12);
  }
}

a {
  color: map-get($repux-primary, 300);
}

.transparent-modal {
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    overflow: initial;
  }
}

