@import 'theme.scss';

@include angular-material-theme($theme);

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
  .mat-flat-button,
  .mat-stroked-button {
    margin: 0 0 0 8px;
  }
}

.mat-flat-button,
.mat-stroked-button,
.mat-raised-button {
  border-radius: 4px !important;
}

.mat-flat-button.mat-primary {
  background: linear-gradient(45deg, #2DBD9D 0%, #0fda4d 100%);

  &[disabled] {
    background: none;
    background-color: rgba(0, 0, 0, .12);
  }
}

a {
  color: map-get($repux-primary, 300);
}

.transparent-modal {
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    overflow: initial;
  }
}

.mat-form-field.app-no-underline .mat-form-field-underline {
  display: none;
}

.mat-form-field.app-no-padding {
  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.mat-checkbox {
  &_full-width {
    .mat-checkbox-layout {
      width: 100%;
    }

    .mat-checkbox-label {
      flex: 1;
    }
  }
}

.spinner-wrapper {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;

  &__icon {
    color: #b4b4b4;
    font-size: 72px;
    width: 72px !important;
    height: 72px !important;
    margin: 0 0 24px 0;
  }

  &__text {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 500;
  }
}

.action-buttons {
  button {
    margin: 0 0 0 12px;
  }
}
