@import '../../../variables';

.mat-dialog-content {
  min-height: 140px;
  min-width: 140px;
}

.mat-form-field {
  width: 100%;
}

.report-error {
  background: mat-color($app-warn, 100);
  padding: 10px 16px;
  color: mat-color($mat-light-theme-foreground, secondary-text);
  text-align: center;
  margin-bottom: 10px;
  max-width: 675px;
}

.error {
  color: mat-color($app-warn);
}

.explorer {
  display: none;

  &.visible {
    display: block;
  }
}

.mat-radio-button {
  margin-right: 20px;
}

.mat-radio-group {
  margin-bottom: 15px;
  display: block;
}
