$shadow-color: rgba(0, 0, 0, .03);

.mat-form-field, .mat-table {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.mat-form-field {
  background-color: $shadow-color;
  padding: 5px 10px 0;
}

.search-icon {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.data-container {
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $shadow-color;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin: 10px;
  }
}

.details {
  background: rgba(0, 0, 0, 0.03);
  padding: 0 20px;
}

.detail-header {
  padding: 15px 25px 0;
  display: block;
}

mat-header-cell {
  mat-icon {
    cursor: default;
  }
}

mat-row {
  &:not(.disabled) {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;
  }
}
