<div *ngIf="dataSource">

  <div class="list-search" *ngIf="showSearch">
    <input class="list-search__input" (keyup)="onTypeAhead($event.target.value)" placeholder="Search">
    <mat-icon class="list-search__icon">search</mat-icon>
  </div>

  <div class="data-container">
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <table mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)"
           [matSortActive]="sortActive"
           [matSortDirection]="sortDirection">

      <!-- Creation date Column -->
      <ng-container matColumnDef="creationTimestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [disableClear]="true" [disabled]="disableSorting">Creation date
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.creationDate | date : 'short' }}
        </td>
      </ng-container>

      <!-- Order date Column -->
      <ng-container matColumnDef="orders.creationTimestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [disableClear]="true" [disabled]="disableSorting"> Transaction date
        </th>
        <td mat-cell *matCellDef="let element"> {{ getOrderDate(element) | date : 'short' }}
        </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [disableClear]="true" [disabled]="disableSorting">File details
        </th>
        <td mat-cell *matCellDef="let element">
          <p>
            <strong>{{element.title}}</strong><br/>
            <span class="mat-hint">{{element.name}} | {{ element.size | fileSize }}</span>
          </p>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [disableClear]="true" [disabled]="disableSorting">Price<br/> (REPUX)
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.price.toString() | currencyRepux : '' }}
        </td>
      </ng-container>

      <!-- Times purchased Column -->
      <ng-container matColumnDef="timesPurchased">
        <th mat-header-cell *matHeaderCellDef>Purchased</th>
        <td mat-cell *matCellDef="let element"> {{ getTimesPurchased(element) }}</td>
      </ng-container>

      <!-- Total earnings Column -->
      <ng-container matColumnDef="totalEarnings">
        <th mat-header-cell *matHeaderCellDef>Total Earnings<br/> (REPUX)</th>
        <td mat-cell *matCellDef="let element"> {{ getTotalEarnings(element).toString() | currencyRepux : '' }}
        </td>
      </ng-container>

      <!-- Total deposit Column -->
      <ng-container matColumnDef="fundsToWithdraw">
        <th mat-header-cell *matHeaderCellDef>
          <div class="row">
            Deposit<br/> (REPUX)
            <mat-icon
              matTooltip="Funds accumulated in the product Smart Contract that can be released using the Withdraw function">
              help_outline
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.fundsToWithdraw.toString() | currencyRepux : '' }}
        </td>
      </ng-container>

      <!-- Times purchased Column -->
      <ng-container matColumnDef="pendingFinalisationRequests">
        <th mat-header-cell *matHeaderCellDef>Finalisation requests</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button
                  routerLink="/notifications"
                  *ngIf="!disablePendingFinalisation"
                  color="primary"
                  (click)="$event.stopPropagation()">
            {{ getOrdersToFinalisation(element).length }}
          </button>
          <span *ngIf="disablePendingFinalisation">
            {{ getOrdersToFinalisation(element).length }}
          </span>
        </td>
      </ng-container>

      <!-- EULA -->
      <ng-container matColumnDef="eula">
        <th mat-header-cell *matHeaderCellDef>
          <div class="row">
            EULA
            <mat-icon
              matTooltip="End User License Agreement">
              help_outline
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <a href=""
             (click)="downloadEula($event, element.eula)"
             matTooltip="Download EULA content">{{ element.eula.type | eulaType }}</a>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <app-marketplace-action-buttons
            [availableActions]="availableActions"
            [dataProduct]="element"></app-marketplace-action-buttons>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [routerLink]="row.address ? ['details', row.address] : null"
          [class.disabled]="row.blockchainState?.disabled"></tr>
    </table>
  </div>

  <mat-paginator (page)="pageChanged($event)" [length]="esDataProducts.total" [(pageSize)]="size"
                 [pageSizeOptions]="pageSizeOptions" *ngIf="showPaginator"></mat-paginator>
</div>
