$shadow-color: rgba(0, 0, 0, .03);

.list-search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px;
  background-color: #efefef;

  &__input {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
    padding: 12px;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: 8px;
    color: #999;
    margin: 0 12px;
  }

  @media screen and (max-width: 700px) {
    &__icon {
      display: none;
    }
  }
}

.mat-form-field, .mat-table {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.mat-form-field {
  background-color: $shadow-color;
  padding: 5px 10px 0;
}

.search-icon {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.data-container {
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $shadow-color;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin: 10px;
  }
}

mat-header-cell {
  mat-icon {
    cursor: default;
  }
}

mat-row {
  &:not(.disabled) {
    cursor: pointer;
  }

  &.disabled mat-cell:not(:last-child) {
    opacity: 0.5;
  }
}

.mat-header-cell .mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
