<mat-card>
  <mat-card-content>
    <section class="intro">
      <h3>We encourage you to take a look at our fully decentralised product, where you can buy and sell your data for
      free demo tokens, before it goes live.</h3>
      <p>To make it more appealing we are giving a pool of <strong>real</strong></p>

      <h1>200.000 REPUX</h1>

      <p><strong>Test ends at 2nd of October 2018.</strong></p>
    </section>

    <table mat-table #table [dataSource]="scoring">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action/Score</th>
        <td mat-cell *matCellDef="let scoring">{{scoring.action}}</td>
      </ng-container>

      <ng-container matColumnDef="stakes">
        <th mat-header-cell *matHeaderCellDef>Stakes</th>
        <td mat-cell *matCellDef="let scoring"><strong>{{ scoring.score }}</strong></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['action', 'stakes']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['action', 'stakes'];"></tr>
    </table>

    <p>Promotion rules:</p>
    <ul>
      <li>Test takes place on Rinkeby network to save on gas prices but the tokens will be provided on the main Ethereum
        network (to the same wallet addresses used in test network).
      </li>
      <li>Pool will be distributed according to the stakes obtained - in accordance to the list provided.</li>
      <li>Stakes will be calculated for the products listed since Tue 18th of September 2018.</li>
      <li>Do not put any malicious content online or you'll get banned.</li>
    </ul>

  </mat-card-content>
</mat-card>



